@font-face {
    font-family: "NEW";
    src: url("fonts/16103.otf");
    
}
@font-face {font-family: "tit";
    src: url("fonts/16457.otf")
}
@font-face {font-family: "reg";
    src: url("fonts/16815.otf")
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "NEW", sans-serif;
}
header{
    text-align: center;
    color: #e3f417;
    background: url(image/918377-desktop-wallpaper-pattern-2048x1152-images.jpg);
    background-repeat: round;
    background-size: cover;
}
header h1{
    letter-spacing: 1px;
}
nav{
    display: flex;
    height: 60px;
    align-items: center;
    background-color: cornsilk;
}
nav a{
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: 400;
}
nav a:hover{
    color: antiquewhite;
    background-color: burlywood;
}
nav label {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#checkbox-menu, .toggle  {
    display: none;
    
}
.row {
    display: flex;
    flex-wrap: wrap;
    
}
aside {
    flex: 0 1 30%;
    background-color: blanchedalmond;
    padding: 20px;
    position: relative;
    width: 100%;
}
aside::after {
    content:"";
    margin: 150px;
    position: absolute;
    opacity: 1;
}
main {
    flex: 0 1 70%;
    background-color: chartreuse;
    padding: 20px; 
    /*width: 100%;*/
}
.row h2 h3, main h2{
    font-family: "tit";   
}
.row p, main p{
    font-family: "reg";   
}

.fake-img> img{
    width: 100%;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: darkolivegreen;
}
@media screen and (max-width: 768px){
    .row, nav {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .toggle {
        display: flex;
        
        color: crimson;
        font-size: 2em;
    }
    label > a {
    display: none;
}
    #checkbox-menu:checked + label > a {
        display: flex;
        align-items: center;
        /*text-align: center;*/
        height: auto;
    }
    label {
        flex-direction: column;
        align-items: center;
        width: auto;
    }
}

   
